html{
	
	
}

body{
	margin:0;
	background-color:#c4c8a7;
}

#all{
	width:80%;
	margin-right:auto;
	margin-left:auto;	
}
#header{
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
	background-image:url("header-arka.jpg");	
}

#logo{
	color: #fff;
	margin-left: 90px;
	margin-top: 20px;
	height: 240px;
	width: 15%;
	float: left;
	background-image: url(logo1.jpg);
	
}
#arama {
	float: right;
	margin-left: 10px;
	border: 2px solid #CCC;
	border-radius: 25px;
	background-image: url(https://img.collegedekhocdn.com/static/images/new_ui/common/morph_search_icon.png);
	background-repeat: no-repeat;
	background-position: 10px;
	padding: 10px;
	margin-top: 25px;
}
#arama input {
	border: thin solid #fff;
	margin-left: 40px;
	padding: 5px;
}

#ust-menu {
	width: 60%;
	float: right;
	margin-top: 95px;
	margin-right: 120px;
	margin-bottom: auto;
	margin-left: auto;
	padding-bottom: 30px;
	border-color: red;
	border-radius: 20px;
	background-color: #eceff4;
	opacity: 0.4;
	padding-right: 70px;
}
#header #ust-menu #arama {
	padding: 5px;
	margin-top: 34px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


#ust-menu ul {
	list-style-type: none;
}
#ust-menu ul li {
	display: block;
	float: right;
	padding-top: 27px;
	padding-right: 35px;
	padding-bottom: 25px;
	padding-left: 35px;
	
}

#ust-menu ul li:hover{
	background-color:#66CCFF;
}
#ust-menu ul li a {
	text-decoration: none;
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;

}

#ust-menu ul li a:hover {
	color:#cd2626;
}

#alan{
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 25%;
	float: left;
}
body {
	float: left;
}

#menu2 {
	width: 20%;
	float: left;
	border-radius: 20px;
	background-color: #eceff4;
	margin-left: 20px;
	opacity:0.4;
}

#menu2 ul{
	float: left;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
}
#menu2 ul li{
	margin: 10px;
	display: block;
	padding: 3px;
	font-size: 22px;
	width: 250px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: thin solid #CCC;
}

#menu2 ul li a{
	text-decoration:none;
	color:#000;
	font-size:20px;
}

#menu2 ul li:hover{
	background-color:#66CCFF;
	
}

#menu2 ul li a:hover{
	color:red;
}

#content{
	width: 100%;
	height: 950px;
	float: left;
	position: relative;
	margin-top: 20px;
	
}
.pencere {
	height: 135px;
	width: 225px;
	float: right;
	text-align: center;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 250px;
	margin-right: 35px;
}
.pencere a img {
	height: 135px;
	width: 225px;
}


#icerik{
	width: 72%;
	float: right;
	background-color:#FDF5E6;
	margin-right: 2%;
	border-radius: 20px;
	opacity: 1;
	clear: none;
}
#icerik-alt {
	width: 99%;
	border-radius: 20px;
	background-color: #FDF5E6;
	height: 1000px;
	float: left;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
}


h4{
	color:#A9A9A9;	
}
